.ProjectExperience{
  margin: 20px 0;
  padding: 0 10px 0 15px;
  border-bottom: 2px dashed #70707c;
  .liStyle{
    .linkArea{
      display: flex;
      justify-content: space-between;
      h4{
        color: black;
      }
      div{
        a{
          color: #1900ff;
          margin: 2px;
        }
      }
    }
    p{
      margin: 10px 0  20px;
    }
  }
}