.BasicMessage{
  > .personalKeyValue{
    display: flex;
    >div{
      width: 50%;
      padding: 5px;
    }
    >.personalKey{
      display: flex;
      justify-content: space-between;
    }
  }
}