 .personalKeyValue{
  display: flex;
  >div{
    width: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
  }
  >.personalKey{
    display: flex;
    justify-content: space-between;
  }
}