.SkillBar{
  margin-bottom: 10px;
  > .skillBarSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  section{
    font-size: 8px;
    padding: 4px 0;
    font-family: "NSimSun";
    line-height: 1.4;
  }
}
