.section{
  line-height: 1.2;
  >h1{
    font-size: 20px;
    color: rgb(113,161,204);
  }
  >section{
    padding: 20px 0;
  }
  border-bottom: 2px solid rgb(204,204,204);
  border-radius: 2px;
  margin: 25px 20px 25px;
  padding: 0 10px;
}