.section{
  line-height: 1.2;
  >header{
    display: flex;
    align-items: center;
    >div{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(6,175,161);
      margin-right: 5px;
      .icon{
        fill: white;
      }
    }
    h1{
      font-size: 16px;
      font-weight: bolder;
      color: black;
    }
    &::after{
      display: block;
      content: "";
      border: 1px solid rgb(112, 112, 124);
      flex-grow: 1;
      margin: 0 10px;
    }
  }
  >section{
    padding: 20px 0;
  }
  border-radius: 2px;
  margin: 25px 20px 25px;
  padding: 0 10px;
}