.MessageBar{
  display: flex;
  align-items: center;
  padding: 5px 0;
  > div{
    margin: 0 10px;
    .icon {
      width: 1em; height: 1em;
      vertical-align: -0.15em;
      fill: currentColor;
      overflow: hidden;
    }
  }
  .way{
    >span{
      font-size: 12px;
    }
    margin-left: 10px;
  }
}