.resume{
  height: 100vh;
  display: flex;
  background-color: rgb(60,60,62);
  padding-bottom: 20px;
  >div{
    width: 100%;
    background-color: white;
    flex-grow: inherit;
    display: grid;
    grid-template: 2fr 8fr/3fr 9fr;
    >header{
      grid-row: 1 ;
      grid-column: 1/3;
    }
    > aside{
      grid-column: 1/2;
      grid-row: 2;
    }
    > main{
      grid-column: 2/3;
      grid-row: 2;
    }
  }
  @media screen and (max-width: 720px) {
    >div{
      height: 100vh;
      display: flex;
      flex-direction: column;
    }
  }
}