*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: grey;
}
ul>li{
  list-style: none;
}
body{
  background-color: rgb(239,239,239);
}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}